body{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 14px;
}
html, body{
    width: 100%;
    height: 100%;
}

#main-container{
    max-width: 1920px;
    margin: 0 auto;
}

#main-header-logo{
    flex: 0 0 60px;
    z-index: 5;
    
}

#main-header-logo img{
    max-width: 100%;
}

#main-header-bask img{
    width: 15px;
    height: 15px;
}

#main-header-account img{
    width: 15px;
    height: 15px;
}



#main-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

#main-header:before{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(242, 239, 232);
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
z-index: 3;
}


.main-header-container{
    padding: 0 5% 0 5%;
}

.main-header-container-body{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0 1% 0;
    height: 50px;
}




.main-header-burger{
 display: none;
}

#main-header-menu{
    width: 90%;
}

#main-header-menu2{
    width: 10%;
}

.main-header-menu-list2{
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 4;
}

.main-header-menu-list2 li {
    list-style: none;
    margin-left: 30px;
}

.main-header-menu-list{
 display: flex;
 justify-content: space-around;
 position: relative;
 z-index: 4;
}

.main-header-menu-list li{
    list-style: none;
    margin-left: 30px;
}


.menu-item_catalog, .menu-item_clients{
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration:none ;
}

.menu-item{
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration:none ;
}

.menu-item_active{
    color: #CAC48D;
}

.menu-item2{
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration:none ;
}


 


/* модальное окно*/
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 60;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease 0s;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup_area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.popup_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content{
    background-color: #EDE7DB;
    color: black;
    width: 30%;
    padding: 50px;
    position: relative;
    border: 2px black solid;
    border-radius: 30px;
}

.popup_close{
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-weight: 200;
}

.popup_title{
    font-size: 40px;
    margin: 0 0 1em 0;
}

.popup_text{
    
}











/* адаптивка*/

@media screen and (max-width: 1024px) {
    .tab button.active{
        border-radius: 10px;
        font-size: 14px;
    }

    .tab button{
        font-size: 14px;
    }

    .tab button:hover {
        background-color: #cac48d35;
        border-radius: 14px;
    }
  
    .popup_content{
        width: 50%;
    }

    b{
        font-size: 14px;
        
    }

}


@media screen and (max-width: 500px) {
    .tab button.active{
        border-radius: 10px;
        font-size: 14px;
    }

    .tab button{
        font-size: 14px;
    }

    .tab button:hover {
        background-color: #cac48d35;
        border-radius: 14px;
    }
  
    .popup_content{
        width: 70%;
    }

    b{
        font-size: 14px;
        
    }
}



  @media screen and (max-width: 800px) {
    .main-header-burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .main-header-burger span{
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;   
        top: 9px;     
        transition: all 0.3s ease 0s;
    }

    .main-header-burger:before,
    .main-header-burger:after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0%;
        transition: all 0.3s ease 0s;

    }
 .main-header-burger:before{
    top: 0;
 }

 .main-header-burger:after{
    bottom: 0;
 }

 .main-header-burger.active span{
    transform: scale(0);
 }

 .main-header-burger.active:before
 {
    transform:rotate(45deg);
		top: 9px;
 }
 .main-header-burger.active:after{
    transform:rotate(-45deg);
    bottom: 9px;
}

 #main-header-menu{
    
    position: fixed;
		top: -110%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #FDDBAD;
        padding: 40px 10px 20px 10px;

}


#main-header-menu2{
    width: 30%;
    
}

 
#main-header-menu.active{
    top: 0;
}

.main-header-menu-list {
    display: block;
    top: 5%;
}
.main-header-menu-list li{
    margin: 20px 0px 20px 0px;
}



}









.tab {
    overflow: hidden;
    display: flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: #EDE7DB;
    transition: 0.3s;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 16px;
    font-family: 'Montserrat';
}
 
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #cac48d35;
    border-radius: 20px;
}


 
/* Create an active/current tablink class */
.tab button.active {
    background-color: #CAC48D;
    font-weight: 600;
    border-radius: 20px;
}

/* Style the tab content */
#sign_up {
    display: none;

}




input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Montserrat';
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
.signupbtn {
    background-color: #3e9041;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.submit{
    background-color: #3e9041;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1em;
}


.clearfix{
    width: 100%;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */



/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}



/* Style the horizontal ruler */
hr {
    border: 1px solid black;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */


.popup_close:hover,
.popup_close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


